@{
    ViewData["Title"] = "Notes";
}

@model NoteApp.Domain.Project

<div align="center">
    <br />
    <!--
    <div align="right">
        <table>
            <tr>
                <td>
                    <form method="post" asp-controller="Notes" asp-action="Logout">
                        <input type="submit" class="btn btn-sm btn-danger" value="Logout" />
                    </form>
                </td>
                <td>
                    <form method="get" sp-controller="Account" asp-action="CreateTask">
                        <input type="submit" class="btn btn-sm btn-success" value="Add task" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    -->
    <div class="bg-primary"><h4>Tasks</h4></div>
    <table class="table table-bordered">
        <tr>
            <th scope="col">Note title</th>
            <th scope="col">Note text</th>
            <th scope="col">Creation date</th>
            <th scope="col">Edition date</th>
            <th scope="col">Category</th>
        </tr>
        @foreach (var note in Model.NoteModels)
        {
            <tr>
                <td>@note.</td>
                <td>
                    @note.NoteName
                </td>
                <td>
                    <p>@note.NoteMessage</p>
                </td>
                <td>
                    <p>@note.CreationTime</p>
                </td>
                <td>
                    <p>@note.ChangeDate</p>
                </td>
                <td>
                    <p>@note.NotesCategory</p>
                </td>
            </tr>
        }
    </table>@*
    <br />
    <div align="center">
        <p>@Model.PagedViewModel.PageNumber</p>
    </div>

    @if (Model.PagedViewModel.HasPreviousPage)
        {
            <a asp-action="TaskList"
               asp-route-page="@(Model.PagedViewModel.PageNumber - 1)"
               class="btn btn-default btn">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Past
            </a>
        }

        @if (Model.PagedViewModel.HasNextPage)
        {
            <a asp-action="TaskList"
               asp-route-page="@(Model.PagedViewModel.PageNumber + 1)"
               class="btn btn-default btn">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }*@

</div>